* {
	margin: 0;
	outline: 0;
	padding: 0;
}

b,strong {
	color: #63A9D6;
}

a,a strong {
	color: #F70;
}

a:hover {
	color: #C60;
}

body {
	color: #444444;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	min-width: 650px;
}

fieldset {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

input {
	color: #555;
	font: normal 1.1em "Lucida Sans Unicode", sans-serif;
}

img {
	border: none;
}

p {
	margin-top: 5px;
	margin-bottom: 10px;
}

blockquote {
	background-color: #f9f9f9;
	border: #C0C0C0 solid 1px;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	margin-bottom: 23.4px;
}

blockquote > p {
	margin: 0;
}

.code {
	/* do not use */
}

code {
	font-family: monospace; 
	font-size: .93em; 
	color: #57749C;
}

cite {
	color: #666;
	display: block;
	font-family: Lucida Sans Unicode, serif;
	font-size: 1.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

label {
	color: #696969;
	line-height: 16.5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	cursor: text;
}

h1 {
	color: #333;
	font-size: 2em;
	margin-bottom: 4px;
}

h2 {
	color: #333;
	font-size: 1.53em;
	margin-top: 15px;
}

h3 {
	color: #333;
	font-size: 1.33em;
	margin-top: 15px;
}

h4 {
	color: #333;
	font-size: 1.13em;
	margin-top: 5px;
}

h5 {
	color: #333;
	font-size: 1.03em;
	margin-top: 5px;
}

.clearer {
	clear: both;
	display: block;


	font-size: 0;
	height: 0;
	line-height: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}


.featured {	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin-bottom: 15px;
	border: solid 1px #aabbbb; 
	padding: 15px; 
	background: #555; 
	color: #fff;
}

.featured h1, .featured h2, .featured h3, .featured h4, .featured h5 {
	color: #fafafa;
}

.featured .inside, ul.featured > li {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: solid 1px #aabbbb;
	background: #FFF;
	overflow: hidden;
	padding: 15px;
	margin-left: 0;
	color: #333;
	left: 0px;
}

ul.featured li {
	list-style: none;
	list-style-image: none;
	margin-top: 15px;
}

.faded {
	opacity: .6;
}

.featured .inside h1, .featured .inside h2, .featured .inside h3, .featured .inside h4, .featured .inside h5 {
	color: #333;
}

.featured :FIRST-CHILD {
	margin-top: 0px;
}

/* Research */

.disabled {
	color: gray;
}

.rf-cal-today {
    background-color: #FFF;
    color: #000;
    font-weight: inherit;
}

.bold {
    font-weight: bold;
}

.tweet {
	font-size: 15px;
}

.tweet > a {
	font-size: 15px;
}

li.tweet {
	padding-bottom: 5px;
	border-bottom: 1px #ddd solid;
}